.cards {
  position: absolute;
  display: flex;
  gap: 0.6rem;
  z-index: 0;
}

.cards-top {
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.cards-bottom {
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.cards-left {
  right: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}

.cards-right {
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}
