@import './shared/styles/theme.css';

:root {
  --tg-safe-area-top: env(safe-area-inset-top, 0px);
  --tg-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --tg-safe-area-left: env(safe-area-inset-left, 0px);
  --tg-safe-area-right: env(safe-area-inset-right, 0px);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  padding: var(--tg-safe-area-top) var(--tg-safe-area-right)
    var(--tg-safe-area-bottom) var(--tg-safe-area-left);
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;
}
